<div class="row justify-content-center">
    <div id="col-md-10">
        <section *ngIf="dailytip && dailytip.nurse">
            <div class="card text-center">
                <div class="card-header">
                    <h1 style="text-transform: uppercase; text-align: center; font-family: monospace; font-weight:bold; padding-top:10px;">Daily Tip</h1>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{dailytip.nurse.fullName}}</h4>
                    <p class="card-text">{{dailytip.tip}}</p>
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer"> Created at <cite title="Source Title">{{dailytip.created | date:'MM/dd/yyyy HH:mm:ss'}}</cite></footer>
                    </blockquote>
                    
                </div>
                <div class="card-footer text-muted">
                    <div *ngIf="allowEdit">
                        <a class="btn btn-primary" [routerLink]="['/dailytips', dailytip._id, 'edit']">EDIT</a>
                        <button class="btn btn-danger" (click)="delete()">DELETE</button>
                    </div>

                </div>
            </div>
        </section>
        <div class="card-footer">

            <a [routerLink]="['/dailytips']" style="font-size:larger"> &laquo; All Motivational Tips</a>
        </div>
    </div>
</div>

