<div class="wrapper">
    <div id="formContent">
        <div class="first">
            <h1 style="text-transform: uppercase; font-family: monospace; font-weight:bold; padding-top:10px;">Motivational Tips</h1>
        </div>
        <div *ngIf="!dailytips && user.role == 'NURSE'>
            No Motivational Tips yet, why don't you <a [routerLink]="['/dailytips/create']">create one</a>?
        </div>

        <div class="container" *ngIf="dailytips && dailytips.length > 0">
            <div class="card-columns">
                <div class="card border-primary mb-3" *ngFor="let dailytip of dailytips" style="max-width: 20rem;">

                    <div class="card-header">
                           {{dailytip.nurse.fullName}}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{dailytip.tip}}</p>
                            <footer class="blockquote-footer"> {{dailytip.nurse.fullName}} at <cite title="Source Title">{{dailytip.created | date:'MM/dd/yyyy HH:mm:ss'}}</cite></footer>
                        </blockquote>
                    </div>
                    <div class="card-footer text-muted">
                        <div *ngIf="user.role == 'NURSE' && user._id == dailytip.nurse._id">
                            <a class="btn btn-social btn btn-info" [routerLink]="['/dailytips', dailytip._id]">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="user.role == 'NURSE'">
                <a class="btn btn-social btn btn-success" style="color:#fff;" [routerLink]="['/dailytips/create']"> Create A New Motivational Tip </a>
            </div>
        </div>
    </div>
</div>

<!--<div class="card-footer text-muted">
    <div *ngIf="user.role == 'NURSE' && user._id == dailytip.nurse._id">
        <a class="btn btn-social btn btn-warning" [routerLink]="['/dailytips', dailytip._id, 'edit']">Update</a>
    </div>
</div>-->