<!-----------------------Nav Bar-------------------------->
<div *ngIf="user">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../images/after-clinic-name.png" class="nav-icon" />
        </a>
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">
                        <ng-container *ngIf="user.role == 'NURSE'">Nurse</ng-container> <ng-container *ngIf="user.role == 'PATIENT'">Patient</ng-container>
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="user.role == 'NURSE'">
                    <a class="nav-link" [routerLink]="['/vitalsigns']">
                        Vital Signs
                    </a>
                </li>
                <li class="nav-item" *ngIf="user.role == 'NURSE'">
                    <a class="nav-link" [routerLink]="['/dailytips']">
                        Motivational Tips
                    </a>
                </li>
                <!--<li class="nav-item" *ngIf="user.role == 'NURSE'">
                    <a class="nav-link" [routerLink]="['/patients']">
                        List Patients
                    </a>
                </li>-->
                <li class="nav-item" *ngIf="user.role == 'PATIENT'">
                    <a class="nav-link" [routerLink]="['/dailyinformation']">
                        Enter Daily Info
                    </a>
                </li>
                <li class="nav-item" *ngIf="user.role == 'PATIENT'">
                    <a class="nav-link" [routerLink]="['/dailytips/list']">
                        Daily Motivations
                    </a>
                </li>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-white disabled" style="color:#fff;">Hello, {{user.fullName}}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white" href="/api/auth/signout"><b>Logout</b></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!----------------------- Container-------------------------->
<div class="container">
    <div class="jumbotron">
        <div class="row" style="padding:30px;" *ngFor="let video of videos">
            <div class="col-md-4">
                <h4>GoalCast Playlist</h4>
                <p>
                    {{video.desc}}s
                </p>

            </div><!--.col -->

            <div class="col-md-8">
                <div class="vid">
                    <iframe width="560" height="315" [src]="video.url | safe" rameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><!--./vid -->

            </div><!--.col -->
            <br />
            <hr />
        </div><!--./row -->
        <hr />
    </div>
</div><!--./container -->
<!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nUsHePihYO4" rameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
