<div class="wrapper">
    <div id="formContent">
        <div class="first">
            <h1 style="text-transform: uppercase; font-family: monospace; font-weight:bold; padding-top:10px;">Vital Signs</h1>
        </div>
        <div *ngIf="!vitalsigns">
            No vital signs yet, why don't you <a [routerLink]="['/vitalsigns/create']">create one</a>?
        </div>
        <div *ngIf="vitalsigns && vitalsigns.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Patient Name</th>
                        <th scope="col">Body Temperature</th>
                        <th scope="col">Heart Rate</th>
                        <th scope="col">Blood Pressure</th>
                        <th scope="col">Respiratory Rate</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vitalsign of vitalsigns" class="table-light">
                        <th scope="row"><a [routerLink]="['/vitalsigns', vitalsign._id]">{{vitalsign.patient.fullName}}</a></th>
                        <td>{{vitalsign.bodyTemperature}} °C</td>
                        <td>{{vitalsign.heartRate}} bpm</td>
                        <td>{{vitalsign.bloodPressure}} mm Hg</td>
                        <td>{{vitalsign.respiratoryRate}} breaths per minute</td>
                        <td>{{vitalsign.nurse.fullName}}</td>
                        <td>{{vitalsign.created | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-social btn btn-success" style="color:#fff;" [routerLink]="['/vitalsigns/create']"> Create New Vital Sign </a>
        </div>
    </div>
</div>